/*

Theme:	Modest	Responsive	HTML	Template
Author:	XXX
Live URL: YYY

Primary Color: #23b7a4
Secondary Color:	#c8cdd0

Font Style
Title:	Quattrocento Sans
Paragraph: Open Sans
*/

/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Quattrocento+Sans:wght@400;700&display=swap');

/*Global	CSS*/
body{
	font-family: 'Open Sans', sans-serif;
}
h1,	h2,	h3,	h4,	h5,	h6{
	font-family: 'Quattrocento Sans', sans-serif;
}
p{
	font-family: 'Open Sans', sans-serif;	
}
a{
	text-decoration: none;
	color:	#23b7a4;
}

ul li{
	padding: 0;
	margin: 0;
	list-style: none;
}
/*.padding-0{
	padding: 0;
}
.section-title{
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 38px;
	padding-left: 25px;

}
.section-title::before{
	position: absolute;
	content: "";
	left: 0;
	top: 8px;
	background: #c8cdd0;
	width: 8px;
	height: 60%;

}*/
/*	Top-Header Section*/
.top-header{
	padding: 15px 0;
	align-items: center;
}
.header-info{
	display: flex;
    justify-content: end;
}

	
.info-box{
	margin-left: 10px;
    display: flex;
}
.col-md{
	padding: 0;
	margin: 0;
}
	

.info-icon{
	font-size: 15px;
    color: #363636;
}
.info-description h4{
	font-size: 20px;
    font-weight: 700;
    margin-left: 10px;

}	
.info-description p{
	font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}


/*Navbar Section*/
.header{
	background: #00cce1;

}
.nav-link{
	color: #fff;
	text-transform: uppercase;
}



/*	Banner Section*/
.banner-section{
	
}
.banner-section .item{
	min-height: 82vh;
	position: relative;
}
.bg-one{
	background: url(../images/layer2.png)	no-repeat	center	top;
	background-size: cover;
	
}
.padding-0{
	padding: 0;

}
.item-content{
	padding: 175px 0 175px;
}
.item-content	h3{
	text-transform: uppercase;
	font-size: 38px;
	font-weight: 700;
	color: #fff;
	background-color: #00cce1;
	padding: 5px 1px;
	margin-bottom: 15px;
	display: inline-block;
}

.item-content	h1{
	text-transform: uppercase;
	font-size: 38px;
	font-weight: 700;
	color: #fff;
	background-color: #f69165;
	padding: 5px 10px;
	margin-bottom: 15px;
	display: inline-block;
}
.item-content p{
	color: #aeb2bb;
	line-height: 28px;
	font-size: 16px;
	padding: 10px 0;
}
.item-content ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 0;
}
.item-content ul{
	margin: 0;
	padding: 0;

}
.item-content ul li a{
	color: #fff;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 10px 25px;
	border-radius: 5px;
	background-color: #00cce1;
	transition: all 0.3s	ease-in-out;
}
.item-content ul li a:hover{
	background: #f69165;
	border: 1px	solid	#f69165;
	color: #fff;
}
.banner-img{
	position: absolute;
	bottom: 0;
	width: 43%;
	right: 0;
}
.banner-carousel	.owl-dots,	.banner-carousel	.owl-nav{
	text-align: center;
	-webkit-tap-highlight-color:	transparent;
	position: absolute;
	bottom: 5%;
	right: 50%;
}
.banner-carousel	.owl-dots	.owl-dot	span{
	width: 15px;
	height: 15px;
}
.banner-carousel	.owl-dots	.owl-dot .active span,
.banner-carousel	.owl-dots	.owl-dot:hover	span{
	background: #f69165;
}
.banner-carousel	.owl-dots	.owl-dot	span{
	width: 10px;
	height: 10px;
	margin: 5px	7px;
	background: transparent;
	display: block;
	-webkit-backface-visibility:	visible;
	transition: opacity	0.2s	ease;
	border-radius: 30px;
	border: 2px	solid	#fff;
}


/*about section*/
.about-section{
	padding: 60px 0 0;
    margin: 0;
}

.heading h1{
	text-transform: capitalize;
    font-size: 35px;
    font-weight: 900;
}
.heading p{
	font-size: 16px;
    padding: 5px 51px 5px 0px;
}

.about h2{
	font-size: 25px;
    font-weight: 800;
    padding: 5px 0;
}
.about p{
	 font-size: 14px;
    padding: 0px 0px 5px 0;

}

/*doctor section*/
.doctor-section{
	padding: 60px 0;
    background: #f9f9f9;
}
.text-center{

}
.text-center h1{
	font-size: 40px;
    font-weight: 900;
}
.text-center p{
	font-size: 16px;
    padding: 20px 255px 30px;
}
.social-media{
	text-align: right;
	margin: 15px;

}
.social-media ul li{
	list-style: none;
	display: inline;
	margin: 0 10px;

}
.social-media ul li a .fa{
	font-size: 20px;
	color: #fff;
	transition: all 0.3s	ease-in-out;
}
.social-media ul li a .fa:hover{
	color: #23b7a4;
}


.doctors-list{
	position: relative;
	padding-bottom: 30px;
	transition: all 0.3s ease-in-out;
}
.doctors-list	.personal-images{
	position: relative;
}
.doctors-list	.personal-images img{
	width: 100%;
	height: auto;
}
.doctors-list .social-info{
	position: absolute;
	top: 25%;
	left: 35%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.doctors-list .social-info ul li{
	list-style: none;
	display: inline;
}
.doctors-list .social-info ul li .fa-brands{
	width: 30px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    margin: 3px;
    transition: all 0.3s ease-in-out;
	
}

.doctors-list .person-details{
	background: #fff;
	padding: 30px 0 10px;
	text-align: center;
	
	transition: all 0.3s ease-in-out;
}
.doctors-list .person-details h3{
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 0px;
	transition: all 0.3s ease-in-out;
}
.doctors-list .person-details p{
	color: #a6a9ac;
	font-size: 14px;
	font-weight: 400;
	transition: all 0.3s ease-in-out;
}
.doctors-list .person-details span{
	display: block;
	height: 3px;
	width: 100%;
	background-color: #00cce1;

}
.doctors-list:hover .social-info{
	opacity: 1;
}

.doctors-list:hover .person-details h3{
	color: #f69165;	
}

.doctors-list:hover .person-details span{
	background-color: #f69165;
}
.social-info ul li .fa-brands:hover{
	background-color: #f69165;
}

.doctors-list:hover .personal-images::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(69, 69, 69, .60);
	top: 0;
	left: 0;
}
/*Doctors Section*/


/*Service Section*/
.service-section{
	padding: 30px 0;

}
.service-types{
	border: 3px solid #ebebeb;
	padding: 20px;
	margin-bottom: 22px;
}
.service-text img{
	padding-right: 20px;

}
.service-text h2{
	font-size: 20px;
	font-weight: 900;

}
.service-text p{
	font-size: 16px;
   

}
.service-text a{
	text-decoration: none;
    color: #000;
}


.service-types:hover .service-text h2{

	color: #f69165;
}

.service-types:hover .service-text a{
	color: #f69165;
}
.service-types:hover{
	border-color: #f69165;
}

/*Pricing Section*/

.pricing-section{
	padding: 50px 0;
	background: #f9f9f9;
	list-style: none;
	
}

.pricing-plan{
	border: 5px solid #fff;
	text-align: center;
	padding: 30px 0;
	list-style: none;
}
.pricing-plan ul{
	padding-left: 0;
}
.pricing-plan h2{
	font-size: 35px;
    font-weight: 700;
    color: #00cce1;

}
.pricing-plan h2 span{
	font-size: 16px;
    line-height: 1;
    display: block;
    color: #000;   
    padding-bottom: 20px;
}

.pricing-plan h1{
	font-size: 60px;
    font-weight: 800;
    padding: 30px 0;
    color: #00cce1;
    background-color: #fff;
}


.pricing-plan h1 span{
	font-size: 16px;
    font-weight: 800;
    color: #00cce1;
    display: block;
    line-height: 0;

}
.pricing-text{
	padding-top: 20px;
}
.pricing-text li p{
	line-height: 1;
}

.pricing-plan .btn-danger{
	margin: 20px 0 0;
    padding: 10px 40px;
    background: #00cce1;
    border: none;

}
.pricing-plan:hover{
	border-color: #f69165;
} 
.pricing-plan:hover .btn-danger{
	background-color: #f69165 ;
}
.pricing-plan:hover h1{
	background-color: #f69165 ;
}
.pricing-plan:hover h2{
	color: #f69165 ;
}
.pricing-plan:hover span{
	background-color: #f9f9f9 ;
}


/*Happy clint	Section*/
.happy-clint h1{
	color: #fff;
	
	

}
.happy-clint p{
	color: #fff;
    padding: 10px 365px 40px;
    
}


.happy-clint{
	background-image: url(../images/clints6.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
	position: relative;
	z-index: 1;	
}
.happy-clint::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(48, 48, 50, 0.4);
	z-index: -1;
	
}
.logo1{
	width: 120px;
}

.logo2{
	width: 120px;
}


.logo3{
	width: 120px;
}

.logo4{
	width: 120px;
}

.logo5{
	width: 120px;
}
.owl-carousel .owl-stage{
	display: flex;
	align-items: center;
}

/*Comments	Section*/
.comments-section{
	padding: 60px 0;
	background-color: #1b1b1b;
	color: #fff;
	align-items: center;
}

.img-comments{
	
    padding-bottom: 25px;
}
.comments-section{
	font-size: 13px;
}

.comments-location{
	align-items: center;
	padding: 10px 0;
}
.comments-location p{
	line-height: .8;
    font-size: 13px;
}
.comments-location img{
	color: #00cce1;
}

.text-comments h2{
	padding-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
}
.comments-customers{
	    padding: 0 0 15px;
	
}
.comments-customers h4{
	    font-size: 13px;
}
.comments-customers p{
	color: #717171;
    font-size: 13px;
	
}
.comments-customers img{
	
}

.from-box{
	align-items: center;
	
}

.from-box form input{
    background: #323232;
    border: 5px solid transparent;
    border-radius: 3px;
    align-items: center;
    height: 74px;
    width: 100%;
    padding: 0px;
    margin: 23px 0;
    font-size: 15px;
}



.from-box form input[type="sign-up"]
{
	color: #fff;
    font-weight: 700;
    border: 5px solid transparent;
    border-radius: 3px;
    height: 74px;
    background: #323232;
    display: block;
    margin-left: auto;
    font-size: 17px;
    text-align: center;
    width: 100%;
}

.from-box form input:hover{
	background-color: #f69165;
}
.social-item{
    
	
}
.social-item ul{
    
	    padding-left: 0;
}
.social-item ul li{
	display: inline;
    border: 2px solid transparent;
    padding: 5px 10px;
    background-color: #323232;
	
}
.social-item ul li .fa-brands{
	color: #fff;
}
.social-text {
	padding-top: 30px;
}
.social-text h4{
	font-size: 17px;
    font-weight: 700;
}
.social-item ul li:hover{
	background-color: #f69165;
}



/*	Footer Section*/
footer {
	background: #3a454d;
	padding: 25px 0;
	color: #fff;
}
footer	p{
	margin-top: 10px;

}

/*Footer	Section*/
.footer-section{
	background-color: #000;
    text-align: center;
    padding: 40px 0;

}
.footer-section h4{
	color: #00cce1;
	
}
.footer-section h4 span{
	color: #777777;
	
}
